@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: firstPatternFont;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: secondPatternFont;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: normal;
}

:root {
    --firstBgColor: #0f1223;
    --secondaryBgColor: #151829;
    --thirdBgColor: #1f2533;
    --playerBg: #120818;
    
    --actionColor: #e8265c;
    --fisrtFontColor: #f6f9fd;
    --secondFontColor: #9fa4ab;

    --firstPatternFont: firstpatternFont;
    --secondPatternFont: secondFontColor;
}

.header {
    background-color: var(--thirdBgColor);
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logoMusicApp {width: 12%;}
.material-symbols-outlined {color: var(--fisrtFontColor);}
.navigation > .navigationList > .list { display: none; }
.navigation > .navigationList { display: flex; }

